.main-container{
  background-color: #5E5B52;
  width: 30%;
  margin: 10vh auto;
  padding: 12px;
  text-align: center;
  transition: all 1s;
}

.task-adder{
  display: flex;
  align-items: center;
  padding-top: 12px;
}

.task-text{
  margin: 0px;
  text-align: left;
  padding: 2px;
}

input{
  flex: 3;
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 8px;
  font-size: 1em;
  background-color: rgba(240, 248, 255, 0.932);
  border: none;
  margin: 0px;
  margin-right: 6px;
  color: rgba(0, 0, 0, 0.788);
}

.add-btn{
  flex: 1;
  padding: 8px 16px;
  margin-left: 6px;
  border: none;
  background-color: #FCD757;
  color: #5E5B52;
  text-transform: uppercase;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1em;
  transition: all 0.3s;
  height: 100%;
}

.add-btn:hover{
  background-color: #EEFC57;
  color: black;
  cursor: pointer;
}

/* TASKS */

.task{
  display: flex;
  align-items: center;
  margin-top: 12px;
  padding: 6px 0px;
  border: 1px solid rgba(255, 255, 255, 0.808);
  border-radius: 4px;
  animation: showTask 0.4s ease-in-out;
}

.task-number{
  background-color: #FCD757;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  border-radius: 50%;
  height: 26px;
  width: 26px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  margin-right: 12px;
  color: #5E5B52;
}

.task-name{
}

.task-delete{
  color: rgba(255, 255, 255, 0.747);
  font-size: 1.4em;
  margin: 0;
  margin-left: auto;
  margin-right: 12px;
  transition: all 0.3s;
  background-color: #5E5B52;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-delete:hover{
  cursor: pointer;
  color: white;
  transform: scale(1.2);
}

@keyframes showTask{
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}