.main-container{
  background-color: #5E5B52;
  width: 30%;
  margin: 10vh auto;
  padding: 12px;
  text-align: center;
  transition: all 1s;
}

.task-adder{
  display: flex;
  align-items: center;
  padding-top: 12px;
}

.task-text{
  margin: 0px;
  text-align: left;
  padding: 2px;
}

input{
  flex: 3;
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 8px;
  font-size: 1em;
  background-color: rgba(240, 248, 255, 0.932);
  border: none;
  margin: 0px;
  margin-right: 6px;
  color: rgba(0, 0, 0, 0.788);
}

.add-btn{
  flex: 1;
  padding: 8px 16px;
  margin-left: 6px;
  border: none;
  background-color: #EEFC57;
  color: #5E5B52;
  text-transform: uppercase;
  border-radius: 6px;
  font-weight: 600;
  font-size: 1em;
  transition: all 0.3s;
  height: 100%;
}

.add-btn:hover{
  background-color: #EEFC57;
  color: black;
  cursor: pointer;
}

/* TASKS */

.task{
  display: flex;
  align-items: center;
  background-color: red;
  margin-top: 12px;
  padding: 6px 0px;
}

.task-number{
  background-color: green;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  border-radius: 50%;
  height: 26px;
  width: 26px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  margin-right: 12px;
}

.task-name{
}

.task-delete{
  color: black;
  font-size: 2em;
  margin: 0;
}